apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    dt.owner: "platform_team"
  name: argoconfig
  namespace: argocd
spec:
  source:
    repoURL: "https://github.com/GITHUB_REPOSITORY_PLACEHOLDER.git"
    targetRevision: main
    path: "gitops/manifests/platform/argoconfig"
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        maxDuration: 3m0s
        factor: 2